.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.card{
    height:550px;
}
ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    margin: 0 auto;
}
a.main_btn {
    background-color: #1d4771;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
}